[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
dialogflow = "*"
firebase-admin = "*"
google-cloud-translate = "*"
google-cloud-speech = "*"
google-cloud = "*"
flask-cors = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.6"
